<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <div class="container">

    <header>
      <% include ../partials/header %>
    </header>

    <ul class="list-group polls-container">
      <% for(var i = 0; i < pollIds.length; i++) { %>
      <!-- <li class="list-group-item poll" id='poll-<%= pollIds[i] %>'> -->
        <a href='/poll/<%= pollIds[i] %>' class='list-group-item list-group-item-action' id='poll-<%= pollIds[i] %>'>
          <div class="d-flex w-100 justify-content-between align-items-center">
            <span id='poll-name-id-<%= pollIds[i] %>'></span>
            
            <!-- <input class="btn delete-btn" value="Delete Poll" data-id='<%= pollIds[i] %>'> -->
            <svg class="delete-btn" data-id='<%= pollIds[i] %>' enable-background="new 0 0 100 100" id="Layer_1" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="#010101" points="77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2   51.5,51.1 79.6,23 "/></svg>
          </div>
        </a>

        <!-- </li> -->
        <% } %>
      </ul>


    </div>

    <% include ../partials/footer %>
    <script type="text/javascript" src="/common/ajax-functions.js"></script>
    <script>
      const deleteBtns = document.querySelectorAll('.delete-btn');
      const pollIds = <%- JSON.stringify(pollIds) %>;
      const pollsContainer = document.querySelector('.polls-container');

      for(var i = 0; i < pollIds.length; i++) {
        const pollName = document.querySelector(`#poll-name-id-${pollIds[i]}`);

        const apiPollName = appUrl + `/api/pollName/${pollIds[i]}`;
        ajaxFunctions.ajaxRequest('GET', apiPollName, function(data) {
          const parsedData = JSON.parse(data);
          pollName.innerText = parsedData.pollName;
        });
      }

      onDelete();

      function onDelete() {

        for(var i = 0; i < deleteBtns.length; i++) {
          deleteBtns[i].addEventListener('click', function(ev) {
            // ev.stopPropagation(); doesn't work
            ev.preventDefault();
            console.log(this);
            const id = this.dataset.id;

            // hide deleted poll
            pollsContainer.removeChild(document.querySelector(`#poll-${id}`));


            // delete poll on server
            const apiDeletePoll = appUrl + `/api/poll/${id}`;

            ajaxFunctions.ajaxRequest('DELETE', apiDeletePoll, function () {
              console.log('done deleting poll');
            });
          });

        }
      }

        function deletePoll(ev) {
          alert(`${ev}`);
            ev.stopPropagation();
            console.log('stopPropagation');
            console.log(this);
            const id = this.dataset.id;

            // hide deleted poll
            pollsContainer.removeChild(document.querySelector(`#poll-${id}`));


            // delete poll on server
            const apiDeletePoll = appUrl + `/api/poll/${id}`;

            ajaxFunctions.ajaxRequest('DELETE', apiDeletePoll, function () {
              console.log('done deleting poll');
            });
        }

    </script>
  </body>
  </html>